<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/madlib">
        <label for="game_person">Choose a person!</label>
        <select name="game_person" id="game_person">
            <option value="balloonicorn">Balloonicorn</option>
            <option value="instance">Instance the Wolf</option>
            <option value="ram">Ram the Ram</option>
        </select>
        <label for="color">Choose a color!</label>
        <input type="text" name="color" id="color">
        <label for="noun">Choose a noun!</label>
        <input type="text" name="noun" id="noun">
        <label for="adjective">Choose an adjective!</label>
        <input type="text" name="adjective" id="adjective">
        <input type="submit" value="Submit your answers!">
    </form>
</body>
</html>